<h2 class="page-header">Recherche de Livres</h2>
<form action="/books" method="GET">
  <div>
    <label>Titre</label>
    <input type="text" name="title" />
  </div>
  <div>
    <label>Publié après le :</label>
    <input
      type="date"
      name="publishedAfter"
      value="<%= searchOptions.publishedAfter %>"
    />
  </div>
  <div>
    <label>Publié avant le :</label>
    <input
      type="date"
      name="publishedBefore"
      value="<%= searchOptions.publishedBefore %>"
    />
  </div>

  <button type="submit">Recherche</button>
</form>
<div>
  <% books.forEach(book=>{%>
  <a href="/books/<%=book.id%>">
    <img height="150" width="100" src="<%= book.coverImagePath %>" alt="" />
  </a>
  <%})%>
</div>
