<h2 class="page-header">Nouveau Livre</h2>
<form action="/books" method="POST">
  <%- include('_form_fields')%>
  <a href="/books">Annuler</a>
  <button type="submit">Créer un nouveau Livre</button>
</form>
