<header>
  <a href="/">Biblio</a>
  <nav>
    <ul>
      <li><a href="/authors">Tous les Auteurs</a></li>
      <li><a href="/authors/new">Ajouter un nouvel Auteur</a></li>
      <li><a href="/books">Tous les Livres</a></li>
      <li><a href="/books/new">Ajouter un nouveau Livre</a></li>
    </ul>
  </nav>
</header>
