<header>
  <nav class="header-nav">
    <a class="header-title" href="/">Bibliothèque Digitale</a>
    <ul>
      <li><a href="/authors"> Auteurs</a></li>
      <li><a href="/books/new">Ajout d'auteur</a></li>
      <li><a href="/books">Livres</a></li>
      <li><a href="/books/new">Ajout de Livre</a></li>
    </ul>
  </nav>
</header>
