<h2 class="page-header">Editer un nouvel Auteur</h2>
<form action="/authors/<%= author.id %>?_method=PUT" method="POST">
  <%- include('_form_fields')%>
  <a href="/authors/<%=author.id%>">Annuler</a>
  <button type="submit">Actualiser</button>
</form>
